#contain {
    display: flex;
    flex-wrap: wrap;
    height: min-content;
}

img {
    width: 450px;
}

.form-control {
    width: 100% !important;
    box-sizing: border-box;
    color: var(--texto) !important;
}

form {
    width: 100% !important;
    max-width: 700px;
    margin: 0 auto !important;
}

.row {
    flex-wrap: nowrap !important;
    margin-right: auto !important;
}

.col-sm-2 {
    width: auto !important;
}

.col-sm-10 {
    max-width: none !important;
    width: auto !important;
    margin-left: auto;
}

.row>* {
    max-width: none !important;
}

.col-sm-12 {
    background-color: var(--fondo);
    padding: 30px;
    width: 700px;
}

form {
    color: var(--texto);
}

input[type="text"] {
    background-color: var(--fondo);
    color: var(--texto) !important;
}

input[type="text"]:focus {
    background-color: var(--subfondo);
}

input[type="number"] {
    background-color: var(--fondo);
    color: var(--texto) !important;
}

input[type="number"]:focus {
    background-color: var(--subfondo);
}

textarea#descripcion {
    background-color: var(--fondo);
    color: var(--texto) !important;
}

select#categoria {
    background-color: var(--fondo);
    color: var(--texto) !important;
}

option {
    background-color: var(--fondo);
    color: var(--texto);
}

input[type="text"]:focus {
    background-color: var(--subfondo);
}

input[type="submit"] {
    background-color: var(--fondo-boton);
    font-size: 30px;
    padding-left: 150px;
    padding-right: 150px;
    border: 2px solid var(--borde-boton)
}

input[type="submit"]:hover {
    background-color: var(--fondo-boton-hover);
    border: 2px solid var(--borde-boton)
}

.left-column {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo);
}

.right-column {
    flex: 1;
    flex-direction: column;
    background-color: var(--fondo);
}

.right-column h1 {
    font-size: 35px;
    background-color: var(--fondo-titulo);
    padding: 70px;
    color: var(--texto);
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1080px) {

    .left-column {
        display: none;
    }

    .row {
        flex-wrap: wrap !important;
    }
}

@media screen and (max-width: 700px) {
    .left-column {
        display: none;
    }

    .col-sm-2 {
        text-align: center !important;
    }

    .row {
        flex-wrap: wrap !important;
        text-align: center !important;
        display: block !important;
    }

    input[type="submit"] {
        padding: 30px;
    }

    .right-column h1 {
        padding: 30px;
    }
}