html {
    background-color: #D5FFB9;
}

.navbar {
    background-color: green !important;
    color: white !important;
}

.contain {
    background-color: #D5FFB9;
}


button#themeToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--texto);
}

#sunIcon,
#moonIcon {
    margin: 0 5px;
}

#moonIcon {
    display: none;
}