h1 {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

p {
    font-size: 18px;
    margin: 20px;
}

#a {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

#a:hover {
    background-color: #258cd1;
}