body {
    text-align: center;
}

h1 {
    background-color: #00FF63;
    color: #fff;
    padding: 20px;
}

p {
    font-size: 18px;
    margin: 20px;
}

#a {
    display: inline-block;
    background-color: #00FF63;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

#a:hover {
    background-color: #006426;
}