.contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.chatbox {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Estilos para los mensajes */
.message {
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
}

.user-message {
    background-color: #cce6ff;
}

.bot-message {
    background-color: #e6f7ff;
}

/* Estilos para el formulario de entrada */
form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}