body {
    background-color: var(--fondo) !important;
}

.product-details {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--subfondo);
    color: var(--texto);
}

.product-details h2 {
    flex-basis: 100%;
    margin-top: 20px;
    color: var(--texto);
}

.product-image {
    flex-basis: 100%;
}

.product-image img {
    width: 100%;
    max-width: 100%;
    display: block;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
}

.product-info {
    flex-basis: 100%;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
}

product-info p {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="number"] {
    width: 10%;
    background-color: var(--fondo-boton);
    color: var(--texto);
}

form input[type="submit"] {
    background-color: var(--fondo-boton);
    color: var(--texto);
    padding: 10px 20px;
    border: 2px solid var(--borde-boton);
    cursor: pointer;
}

from input[type="submit"] {
    background-color: var(--fondo-boton-hover);
}

a {
    text-decoration: none !important;
    text-align: center !important;
}

@media (min-width: 1000px) {
    .product-details {
        flex-wrap: nowrap;
    }

    .product-image {
        flex-basis: 50%;
    }

    .product-info {
        flex-basis: 50%;
    }
}