.product-details {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
}

.product-details h2 {
    flex-basis: 100%;
    margin-top: 20px;
}

.product-image {
    flex-basis: 100%;
}

.product-image img {
    width: 100%;
    max-width: 100%;
    display: block;
    border-radius: 30px;
    margin-top: 20px;
    padding: 20px;
}

.product-info {
    flex-basis: 100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 20px;
}

product-info p {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="number"] {
    width: 10%;
}

form input[type="submit"] {
    background-color: greenyellow;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    text-decoration: none !important;
    text-align: center !important;
}

footer {
    background-color: greenyellow;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (min-width: 1000px) {
    .product-details {
        flex-wrap: nowrap;
    }

    .product-image {
        flex-basis: 50%;
    }

    .product-info {
        flex-basis: 50%;
    }
}