.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-info {
    margin-bottom: 10px;
}

.product-actions {
    display: flex;
    gap: 10px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

#a,
input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#a {
    color: white;
    background-color: #4CAF50;
}

#a:hover {
    background-color: #45a049;
}

#del {
    background-color: rgb(212, 32, 32);
}

#del:hover {
    background-color: red;
}

.buttons {
    margin-top: 20px;
}

.add-product {
    background-color: #00a841;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-product:hover {
    background-color: #00c94d;
    color: black;
}

.back-to-dashboard {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-to-dashboard:hover {
    background-color: #999;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .product {
        flex-basis: calc(100% - 20px);
        /* Un producto por fila en pantallas pequeñas */
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 100px;
    }
}