#contain {
    display: flex;
    padding-left: 0px;
}

img {
    width: 450px;
}

.left-column {
    flex: 1;
    text-align: center;
    padding-top: 200px;
    background-color: var(--fondo);
}


.right-column {
    flex: 1;
    background-color: var(--fondo);
}

.right-column h1 {
    font-size: 35px;
    background-color: var(--fondo-titulo);
    padding: 30px;
    padding-top: 90px;
    text-align: center;
    color: var(--texto);
    margin-bottom: 90px;
    padding-bottom: 90px;
}

.right-column a {
    display: block;
    margin: 10px auto;
    text-decoration: none;
    color: var(--texto);
    background-color: var(--fondo-boton);
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 24px;
    border: 2px solid transparent;
    border: 2px solid #61bc84
}

.right-column .a {
    padding: 20px;
}

#a:hover {
    color: var(--texto);
    background-color: var(--fondo-boton-hover);
    border: 2px solid #e0e0e0;
}

p {
    color: var(--texto)
}

@media (max-width: 1300px) {
    #contain {
        flex-direction: column;
    }

    .left-column {
        display: none;
    }

    .right-column h1 {
        padding: 10px;
        padding-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .right-column a {
        margin-left: 10px;
        margin-right: 10px;
    }

    .right-column .a {
        padding: 10px;
    }
}