html{
    background-color: #b9ffe4;
}
#contain {
    display: flex;
    flex-wrap: wrap;
    height: min-content;
}

.form-control {
    width: 100% !important;
    box-sizing: border-box; /
}

form {
    width: 100% !important;
    max-width: 700px;
    margin: 0 auto !important;
}
.row{
    flex-wrap: wrap !important;
    display: block !important;
}
.col-sm-2{
    width: auto !important;
}
.col-sm-10{
    max-width: none !important;
    width: auto !important;
    margin-left: auto;
}
.row>*{
    max-width: none !important;
}
.col-sm-12{
    background-color: rgb(153, 255, 0);
    padding: 30px;
    width: 700px !important;
    position: absolute;
    bottom: 0;
}

.col-form-label-lg{
    font-size: 25px !important;
}

input[type="text"]{
    padding: 20px;
}
input[type="password"]{
    padding: 20px;
}

input[type="submit"]{
    background-color: lightgreen;
    font-size: 30px;
    padding-left: 150px;
    padding-right: 150px;
}
input[type="submit"]:hover{
    background-color: green;
}
.left-column {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #b9ffe4;
    padding-top: 230px;
}

.right-column {
    flex: 1;
    flex-direction: column;
    background-color: #b9ffe4;
}

.right-column h1 {
    font-size: 35px;
    background-color: rgb(153, 255, 0);
    padding: 70px;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

@media screen and (max-width: 1080px) {

    .left-column{
        display: none;
    }
    .row{
        flex-wrap: wrap !important;
    }
}

@media screen and (max-width: 700px) {
    .left-column{
        display: none;
    }
    .col-sm-2{
        text-align: center !important;
    }
    .row{
        flex-wrap: wrap !important;
        text-align: center !important;
        display: block !important;
    }
    input[type="submit"]{
        background-color: lightgreen;
        padding: 30px;
    }
    .col-sm-12{
        width: auto !important;
        position: static !important;
    }
    .right-column h1 {
        padding: 30px;
    }
}