h1 {
    color: #00aa41;
    text-align: center;
}


#a {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #00792e;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#a:hover {
    background-color: #00df55;
}


p {
    text-align: center;
    margin-bottom: 20px;
}