
/* Estilos para el encabezado h1 */
h1 {
    color: #336699;
    text-align: center;
}

/* Estilos para los enlaces del panel */
#a {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #336699;
    border-radius: 4px;
}

a:hover {
    background-color: #0044cc;
}

/* Estilos para el párrafo de descripción */
p {
    text-align: center;
    margin-bottom: 20px;
}