h1 {
    color: var(--texto);
    text-align: center;
}

#a {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--texto);
    background-color: var(--fondo-boton);
    border-radius: 4px;
    background-color: var(--fondo-boton);
    border: 2px solid var(--borde-boton);
    width: 200px;
    transition: all 1s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#a:hover {
    background-color: var(--fondo-boton-hover);
}


p {
    text-align: center;
    margin-bottom: 20px;
    color: var(--texto);
}