.productos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--texto);
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
}

.product-card {
    border-radius: 15px;
    padding: 15px;
    background-color: var(--subfondo);
    cursor: pointer;
    color: var(--texto);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.product-image {
    display: flex;
    justify-content: center;
}

.product-image img {
    border-radius: 15px;
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.product-name {
    font-size: 20px;
    margin: 0;
}

.product-description {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 5ch;
}

.product-details {
    display: flex;
    justify-content: space-between;

}

.product-quantity,
.product-price {
    font-size: 14px;
    margin: 0;
}