{% extends 'base.html' %}
<head>
    {% block head %}
    <title>Inicio</title>
    {% endblock head %}
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            font-size: 48px;
            color: #f44336;
        }

        p {
            font-size: 24px;
            color: #555;
        }
    </style>
</head>
<body>
    {% block content %}
    <h1>404</h1>
    <p>Lo sentimos, la página que estás buscando no se encuentra.</p>
    {% endblock content %}
</body>
