<!DOCTYPE html>
<html>
<head>
    <title>Carrito de Compras</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    {% if productos_carrito %}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
            {% for producto in productos_carrito %}
            <tr>
                <td>{{ producto[1] }}</td>
                <td>${{ producto[2] }}</td>
                <td>{{ producto[3] }}</td>
                <td>${{ producto[2] * producto[3] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td><strong>${{ total_carrito }}</strong></td>
            </tr>
        </table>
    {% else %}
        <p>No hay productos en el carrito.</p>
    {% endif %}
    <p><a href="{{ url_for('listar_productos') }}">Volver a la lista de productos</a></p>
</body>
</html>
