{% extends 'base.html' %}
<head>
    {% block head %}
    <title>Inicio</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/carrito_pago.css') }}" />
    {% endblock head %}
</head>
<body>
    {% block content %}
    <body>
        <h1>Carrito de Compra - Pagar</h1>
        <p>
            Por favor, haga clic en el siguiente enlace para completar su pago:
        </p>
        <a id="a" href="{{ link_pago }}" target="_blank"
            >Pagar con Mercado Pago</a
        >
        <p>
            Después de realizar el pago, será redirigido a nuestro sitio para
            ver el estado del pago.
        </p>
        {% endblock content %}
    </body>
</body>
