{% extends 'base.html' %}

<head>
    {% block head %}
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrito.css') }}">
    {% endblock head %}
</head>
<body>
    {% block content %}
    <h1>Carrito de Compras</h1>
    <p class="success">{{ success }}</p>
    {% if carrito %}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
            {% for producto in carrito %}
            <tr onclick="window.location.href='{{ url_for('ver_detalle_producto', id_producto=producto[0]) }}';">
                <td>{{ producto[2] }}</td>
                <td>${{ producto[3] }}</td>
                <td>{{ producto[4] }}</td>
                <td>{{ producto[3] * producto[4]}}</td>
                <td>
                    <form action="{{ url_for('eliminar_del_carrito', id_detalle_carrito=producto[0]) }}" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td><strong>${{ total_carrito }}</strong></td>
            </tr>
        </table>

        <form action="{{ url_for('comprar_carrito') }}" method="post">
            <button type="submit">Comprar</button>
        </form>
    {% else %}
        <p>No hay productos en el carrito.</p>
    {% endif %}
    {% endblock content %}
</body>
