{% extends 'base.html' %}
<head>
    {% block head %}
    <title>Editar Producto</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/editar_producto.css') }}"
        id="estilos-claro"
        disabled />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/editar_producto-oscuro.css') }}"
        id="estilos-oscuro" />

    {% endblock head %}
</head>
<body>
    {% block content %}
    <div class="left-column">
        <img src="/static/img/logo.png" alt="" />
    </div>
    <div class="right-column">
        <h1>Editar Producto</h1>
        <form method="post">
            <div class="row">
                <label
                    for="nombre"
                    class="col-sm-2 col-form-label col-form-label-lg"
                    >Nombre:</label
                >
                <div class="col-sm-10">
                    <input
                        type="text"
                        class="form-control form-control-lg"
                        id="nombre"
                        name="nombre"
                        placeholder="Ingresa tu Nombre"
                        value="{{ producto[0] }}"
                        required />
                </div>
            </div>
            <div class="row">
                <label
                    for="imagen"
                    class="col-sm-2 col-form-label col-form-label-lg"
                    >Imagen (URL):</label
                >
                <div class="col-sm-10">
                    <input
                        type="text"
                        class="form-control form-control-lg"
                        id="imagen"
                        name="imagen"
                        placeholder="Ingresa la URL de la Imagen"
                        value="{{ producto[1] }}"
                        required />
                </div>
            </div>
            <div class="row">
                <label
                    for="descripcion"
                    class="col-sm-2 col-form-label col-form-label-lg"
                    >Descripción:</label
                >
                <div class="col-sm-10">
                    <textarea
                        class="form-control form-control-lg"
                        id="descripcion"
                        name="descripcion"
                        placeholder="Ingresa la Descripción"
                        required>
{{ producto[2] }}</textarea
                    >
                </div>
            </div>
            <div class="row">
                <label
                    for="cantidad"
                    class="col-sm-2 col-form-label col-form-label-lg"
                    >Cantidad:</label
                >
                <div class="col-sm-10">
                    <input
                        type="number"
                        class="form-control form-control-lg"
                        id="cantidad"
                        name="cantidad"
                        min="1"
                        placeholder="Ingresa la Cantidad"
                        value="{{ producto[4] }}"
                        required />
                </div>
            </div>
            <div class="row">
                <label
                    for="precio_unitario"
                    class="col-sm-2 col-form-label col-form-label-lg"
                    >Precio Unitario:</label
                >
                <div class="col-sm-10">
                    <input
                        type="number"
                        class="form-control form-control-lg"
                        id="precio_unitario"
                        name="precio_unitario"
                        min="0"
                        step="0.01"
                        placeholder="Ingresa el Precio Unitario"
                        value="{{ producto[3] }}"
                        required />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12 text-center">
                    <input
                        type="submit"
                        class="btn btn-primary btn-lg"
                        value="Agregar Producto" />
                </div>
            </div>
        </form>
    </div>
    {% endblock content %}
</body>
