{% extends 'base.html' %}
<head>
    {% block head %}
    <title>Editar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_producto.css') }}">

    {% endblock head %}
</head>
<body>
    {% block content %}
    <h1>Editar Producto</h1>
    <form method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ producto[0] }}">
        <br>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion">{{ producto[1] }}</textarea>
        <br>
        <label for="precio_unitario">Precio Unitario:</label>
        <input type="number" id="precio_unitario" name="precio_unitario" value="{{ producto[2] }}">
        <br>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" value="{{ producto[3] }}">
        <br>
        <input type="submit" value="Guardar Cambios">
    </form>
    {% endblock content %}
</body>
