{% extends 'base.html' %}
<head>
    {% block head %}
    <title>Editar usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar usuario.css') }}">

    {% endblock head %}
</head>
<body>
    {% block content %}
    <h1>Editar Información</h1>
    <form method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ usuario[1] }}">
        <br>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" value="{{ usuario[3] }}">
        <br>
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" value="{{ usuario[4] }}">
        <br>
        <label for="numero_telefono">Número de Teléfono:</label>
        <input type="text" id="numero_telefono" name="numero_telefono" value="{{ usuario[5] }}">
        <br>
        <label for="provincia">Provincia:</label>
        <input type="text" id="provincia" name="provincia" value="{{ usuario[6] }}">
        <br>
        <label for="localidad">Localidad:</label>
        <input type="text" id="localidad" name="localidad" value="{{ usuario[7] }}">
        <br>
        <label for="correo_electronico">Correo Electrónico:</label>
        <input type="email" id="correo_electronico" name="correo_electronico" value="{{ usuario[8] }}">
        <br>
        <input type="submit" value="Guardar Cambios">
    </form>
    {% endblock content %}
</body>
