{% extends 'base.html' %}
<head>
    {% block head %}
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% endblock head %}
</head>
<body>
    {% block content %}
    <div class="left-column">
        <img src="/static/img/back.png" alt="">
    </div>
    <div class="right-column">
        <h1>Bienvenido al sitio web</h1>
        <a id="a" class="a" href="/register/farmacia"><i class="fa-sharp fa-solid fa-shop fa-2xl"></i> Registrar Farmacia</a>
        <a id="a" href="/register/cliente">Registrarse</a>
        <a id="a" href="/login">Iniciar Sesion</a>
    </div>
    {% endblock content %}
</body>
</html>
