<h1>Bienvenido a tu Dashboard de Farmacia</h1>
<h2>Información de la Farmacia</h2>
<p>Nombre: {{ farmacia_nombre }}</p>
<p>Dirección: {{ farmacia_direccion }}</p>
<p>Provincia: {{ farmacia_provincia }}</p>
<p>Localidad: {{ farmacia_localidad }}</p>
<p>Teléfono: {{ farmacia_telefono }}</p>
<p>Correo Electrónico: {{ farmacia_correo }}</p>

<h2>Lista de Productos</h2>
<table>
    <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Categoría</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.imagen }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.precio_unitario }}</td>
        <td>{{ producto.categoria }}</td>
        <td><a href="{{ url_for('editar_producto', id_producto=producto.id) }}">Editar</a></td>
        <td>
            <form action="{{ url_for('eliminar_producto', id_producto=producto.id) }}" method="post">
                <input type="submit" value="Eliminar">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>