{% extends 'base.html' %}
{% block title %}TEST{% endblock %}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/iniciar_sesion.css') }}">
{%endblock%}

<body>
    {% block content %}
    <h1>Iniciar Sesión</h1>
    <form method="POST" action="{{ url_for('iniciar_sesion') }}">
        <label for="nombre_usuario">Nombre de Usuario:</label>
        <input type="text" id="nombre_usuario" name="nombre_usuario" required>
        <br>
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" required>
        <br>
        <input type="submit" value="Iniciar Sesión">
    </form>
    {% endblock %}
</body>
</html>
