<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h2>Lista de Productos</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Categoría</th>
        </tr>
        
        {% for producto in productos %}
            <tr>
                <td>{{ producto[0] }}</td>
                <td>{{ producto[1] }}</td>
                <td>{{ producto[2] }}</td>
                <td>{{ producto[3] }}</td>
                <td>{{ producto[4] }}</td>
                <td>{{ producto[5] }}</td>
                <td>{{ producto[6] }}</td>
            </tr>
        {% endfor %}
        
    </table>
</body>
</html>
