{% extends 'base.html' %}
<head>
    {% block head %}
    <title>listado de producots</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listar_productos.css') }}">

    {% endblock head %}
</head>
<body>
    {% block content %}
    <h1>Listado de Productos</h1>
    {% if user_role == 'farmacia' %}
    <a id="a" href="/productos/agregar">Agregar Producto</a>
    {% endif %}
    <table>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Cantidad Disponible</th>
            <th>Categoría</th>
            {% if user_role == 'farmacia' %}
            <th>Acciones</th>
            {% endif %}
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto[1] }}</td>
            <td>{{ producto[3] }}</td>
            <td>{{ producto[4] }}</td>
            <td>{{ producto[5] }}</td>
            <td>{{ producto[6] }}</td>
            {% if user_role == 'farmacia' %}
            <td>
                <a id="a" href="{{ url_for('editar_producto', id_producto=producto[0]) }}">Editar</a>
            </td>
            <td>
                <form action="/productos/eliminar/{{ producto[0] }}" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este producto?')">
                    <input type="submit" value="Eliminar">
                </form>
            </td>
            
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endblock content %}
</body>
