{% extends 'base.html' %}
<head>
    {% block head %}
    <title>iniciar sesion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    {% endblock head %}
</head>
<body>
    {% block content %}
    <h1>Iniciar Sesión</h1>
    <form action="/login" method="post">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Iniciar Sesión">
    </form>
    {% endblock content %}
</body>
</html>
