{% extends 'base.html' %}
<head>
    {% block head %}
    <title>iniciar sesion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% endblock head %}
</head>
<body>
    {% block content %}
    <div class="left-column">
        <img src="/static/img/logo.png" alt="">
    </div>
    <div class="right-column">
    <h1>Iniciar Sesion</h1>
        <form action="/login" method="post">
        <div class="row">
            <label for="username" class="col-sm-2 col-form-label col-form-label-lg">Nombre de usuario:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" id="username" name="username" placeholder="Nombre de usuario" required>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="password" class="col-sm-2 col-form-label col-form-label-lg">Contraseña</label>
            <div class="col-sm-10">
                <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Contraseña" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <input type="submit" class="btn btn-primary btn-lg" value="Iniciar Sesión">
            </div>
        </div>
    </form>
    {% endblock content %}
</body>
</html>
