{% extends 'base.html' %}
{% block title %}TEST{% endblock %}

{% block head%}
{%endblock%}
<body>
    {% block content %}
    <h1>Perfil de Farmacia</h1>
    <p>Nombre: {{ farmacia.nombre }}</p>
    <p>Apellido: {{ farmacia.apellido }}</p>
    <p>DNI: {{ farmacia.DNI }}</p>
    <p>Dirección: {{ farmacia.direccion }}</p>
    <p>Número de Teléfono: {{ farmacia.numero_telefono }}</p>
    <p>Provincia: {{ farmacia.provincia }}</p>
    <p>Localidad: {{ farmacia.localidad }}</p>
    <p>Correo Electrónico: {{ farmacia.correo_electronico }}</p>
    <p>Nombre de Usuario: {{ farmacia.nombre_usuario }}</p>
    <a href="{{ url_for('agregar_producto') }}" class="button">Cargar Pruductos</a>
    {% endblock %}
</body>
</html>
