{% extends 'base.html' %}
{% block title %}TEST{% endblock %}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/productos.css') }}">

{%endblock%}
<body>
    {% block content %}
    <h1>Productos</h1>
    <ul>
        {% for producto in productos %}
        <li>
            <strong>{{ producto.nombre }}</strong> - {{ producto.descripcion }} - Precio: {{ producto.precio_unitario }} - Cantidad: {{ producto.cantidad }}
            <a href="{{ url_for('agregar_al_carrito', producto_id=producto.id) }}">Agregar al carrito</a>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
