<!DOCTYPE html>
<html>
<head>
    <title>Productos de la Farmacia</title>
</head>
<body>
    <h1>Productos de la Farmacia</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto[0] }}</td>
                    <td>{{ producto[1] }}</td>
                    <td>{{ producto[2] }}</td>
                    <td>{{ producto[3] }}</td>
                    <td>{{ producto[4] }}</td>
                    <td>{{ producto[5] }}</td>
                    <td>{{ producto[6] }}</td>
                    <td><a href="{{ url_for('ver_detalle_producto', id_producto=producto[0]) }}">Ver detalles</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
