{% extends 'base.html' %}
<head>
    {% block head %}
    <title>Ventas Realizadas</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/ventas.css') }}"
        id="estilos-claro"
        disabled />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/ventas-oscuro.css') }}"
        id="estilos-oscuro" />
    {% endblock head %}
</head>
<body>
    {% block content %}

    <h1>Ventas Realizadas</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Comprador</th>
            <th>Correo Electrónico</th>
            <th>Dirección</th>
        </tr>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta.id }}</td>
            <td>{{ venta.fecha }}</td>
            <td>{{ venta.total }}</td>
            <td>{{ venta.comprador_nombre }}</td>
            <td>{{ venta.comprador_correo }}</td>
            <td>{{ venta.comprador_direccion }}</td>
        </tr>
        {% endfor %}
    </table>

    {% endblock content %}
</body>
